{% extends 'base.html' %}

{% block title %}
Bank Accounts
{% endblock %}

{% block breadcrumb %}
<li><a href="{% url 'business:business_profile' id=business.id %}">{{business.name}}</a></li>
<li><a href="{% url 'business:accounts-home' id=business.id %}">Accounts</a></li>
<li>Bank Accounts</li>
{% endblock%}

{% block content %}
<div class="container-fluid">
    <div class="row">

        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <a class="dashboard-stat bg-success" href="{% url 'business:check-account' id=business.id trans=False %}">
                <span class="number counter"></span>
                <span class="name">Check Account</span>
                <span class="bg-icon"><i class="fa fa-check-square" style="padding: 12px;"></i></span>
            </a>
            <!-- /.dashboard-stat -->
        </div>
        <!-- /.col-lg-3 col-md-3 col-sm-6 col-xs-12 -->
        
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <a class="dashboard-stat bg-primary" href="{% url 'business:saving-account' id=business.id trans=False %}">
                <span class="number counter"></span>
                <span class="name">Saving Account</span>
                <span class="bg-icon"><i class="fa fa-plus-square" style="padding: 12px;"></i></span>
            </a>
            <!-- /.dashboard-stat -->
            <!-- /.src-code -->
        </div>
        <!-- /.col-lg-3 col-md-3 col-sm-6 col-xs-12 -->

    </div>
   
</div>
{% endblock %}