{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% load widget_tweaks %}

{% block title %}Fixed Assets Edit{% endblock %}

{% block breadcrumb %}
<li><a href="{% url 'business:business_profile' id=business.id %}">{{business.name}}</a></li>
<li><a href="{% url 'business:accounts-home' id=business.id %}">Accounts</a></li>
<li><a href="{% url 'business:assets-home' id=business.id %}">Assets</a></li>
<li><a href="{% url 'business:fixed_assets-list' id=business.id %}">Fixed Assets</a></li>
<li>Fixed Assets Edit</li>
{% endblock%}

{% block content %}

  <div class="container-fluid">

    <div class="row">   
        <div class="col-md-8 col-md-offset-2">
            <div class="panel">
                <div class="panel-heading">
                    <div class="panel-title">
                        <h5>Expenses</h5>
                    </div>
                </div>
                <div class="panel-body">
        

                    <form class="" method="POST" action="">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="name2">Name</label>
                            <!-- <span class="fa fa-pencil form-left-icon"></span> -->
                            {{asset_form.name|add_class:"form-control"|attr:"placeholder:Fixed asset name"}}
                        </div>
                                                             
                        <div class="form-group">
                            <label for="name2">Cost</label>
                            <!-- <span class="fa fa-money form-left-icon"></span> -->
                            {{asset_form.cost|add_class:"form-control"}}
                        </div>
                        <div class="form-group">
                            <label for="name2">Asset type</label>
                            <!-- <span class="fa fa-user form-left-icon"></span> -->
                            {{asset_form.asset_type|add_class:"form-control"}}
                        </div>
                        <div class="form-group">
                            <label for="name2">Branch</label>
                            <!-- <span class="fa fa-building form-left-icon"></span> -->
                            {{asset_form.location|add_class:"form-control"}}
                        </div>
                        <div class="form-group">
                            <label for="name2">Quantity</label>
                            <!-- <span class="fa fa-th form-left-icon"></span> -->
                            {{asset_form.quantity|add_class:"form-control"|attr:"placeholder:Quantity"}}
                        </div>                                                                      
                        <div class="form-group">
                            <label for="name2">Date bought</label>
                            <!-- <span class="fa fa-calendar form-left-icon"></span> -->
                            {{asset_form.date_bought|add_class:"form-control"|attr:"type:date"}}
                        </div>                                                       
                        <div class="form-group">
                            <label for="name2">Usage period estimation</label>
                            <!-- <span class="fa fa-calendar form-left-icon"></span> -->
                            {{asset_form.usage_period_estimation|add_class:"form-control"}}
                            {{asset_form.usage_period_intervals|add_class:"form-control"}}                    
                        </div>                                                       
                        <div class="form-group">
                            <label for="name2">Maintanance schedule</label>
                            <!-- <span class="fa fa-calendar form-left-icon"></span> -->
                            {{asset_form.maintanance_schedule|add_class:"form-control"}}
                           {{asset_form.maintanance_schedule_period|add_class:"form-control"}}                    
                        </div>                                                       
                        <div class="form-group">
                            <label for="name2">Maintanance fee</label>
                            <!-- <span class="fa fa-money form-left-icon"></span> -->
                            {{asset_form.maintanance_fee|add_class:"form-control"}}
                        </div>                                                                  
                        <button type="submit" class="btn btn-success btn-rounded btn-wide pull-right"><i class="fa fa-check"></i>Submit</button>
        
                    </form>

        </div>
    </div>
</div>
</div>

</div>


       
{% endblock %}