{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% load widget_tweaks %}

{% block title %}Liabilities Edit{% endblock %}

{% block breadcrumb %}
<li><a href="{% url 'business:business_profile' id=business.id %}">{{business.name}}</a></li>
<li><a href="{% url 'business:accounts-home' id=business.id %}">Accounts</a></li>
<li><a href="{% url 'business:liabilities-list' id=business.id %}">Liabilities</a></li>
<li>Liabilities Edit</li>
{% endblock%}

{% block content %}

  <div class="container-fluid">

    <div class="row">   
        <div class="col-md-8 col-md-offset-2">
            <div class="panel">
                <div class="panel-heading">
                    <div class="panel-title">
                        <h5>Expenses</h5>
                    </div>
                </div>
                <div class="panel-body">
    
                    <form class="" method="POST" action="">
                        {% csrf_token %}
                        <div class="form-group">
                          <label for="name2">Name</label>
                          <!-- <span class="fa fa-pencil form-left-icon"></span> -->
                          {{liability_form.name|add_class:"form-control"|attr:"placeholder:Fixed asset name"}}
                        </div>
          
                        <div class="form-group">
                          <label for="name2">Cost</label>
                          <!-- <span class="fa fa-money form-left-icon"></span> -->
                          {{liability_form.cost|add_class:"form-control"}}
                        </div>
          
                        <button type="submit" class="btn btn-success btn-rounded btn-wide pull-right"><i
                            class="fa fa-check"></i>Submit</button>
          
                      </form>


            <!-- /.col-md-12 -->
        </div>
    </div>
</div>
</div>

</div>


       
{% endblock %}