{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}
{% load humanize %}
{% load django_template_maths %}

{% block title %}
Purchase Order
{% endblock %}

{% block breadcrumb %}
<li><a href="{% url 'business:business_profile' id=business.id %}">{{business.name}}</a></li>
<li><a href="{% url 'business:procurement_management' id=business.id %}">Procurement Management Unit</a></li>
<li><a href="{% url 'business:purchase_order' id=business.id %}">Purchase Order List</a></li>
<li>Purchase Order</li>
{% endblock%}

{% block content %}
<div class="container-fluid">

    <div class="row">
        <div class="col-md-10 col-md-offset-1">

            <div class="panel">
                <div class="panel-heading">
                    <div class="panel-title">
                        <h5>Purchase Order Info.</h5>
                    </div>
                </div>
                <div class="panel-body p-20">
                    <h5 class="m-10"><strong>SUPPLIER:</strong> {{purchase_order.supplier}}</h5>
                    <h5 class="m-10"><strong>DELIVERY CENTER:</strong> {{purchase_order.delivery.location}}</h5>
                    <h5 class="m-10"><strong>DATE:</strong> {{purchase_order.created_at.date}}</h5>
                    <h5 class="m-10"><strong>SHIPPING:</strong> {{purchase_order.shipping|intcomma}}/=</h5>
                    <h5 class="m-10"><strong>CUSTOMS:</strong> {{purchase_order.customs|intcomma}}/=</h5>
                    <h5 class="m-10"><strong>TAX:</strong> {{purchase_order.tax|intcomma}}/=</h5>

                    <h5 class="m-10" style="float: right;"><strong>PO NUMBER:</strong> {{purchase_order.po_no}}</h5>
             
                    <h5 class="m-10"><strong>PURCHASE ORDER</strong></h5>
                    <div class="table-responsive">
                        <table id="example" class="display table table-striped table-bordered" cellspacing="0"
                            width="100%">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Description</th>
                                    <th>Unit</th>
                                    <th>Quantity</th>
                                    <th>Price</th>
                                    <th>Total</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>#</th>
                                    <th>Description</th>
                                    <th>Unit</th>
                                    <th>Quantity</th>
                                    <th>Price</th>
                                    <th>Total</th>
                                </tr>
                            </tfoot>
                            <tbody>
                                {% for list in purchase_order.purchase_order_list.all %}
                                <tr>
                                    <td>{{forloop.counter}}</td>
                                    <td>{{list.description}}</td>
                                    <td>{{list.unit}}</td>
                                    <td>{{list.quantity}}</td>
                                    <td>{{list.price|intcomma}}</td>
                                    <td>{{list.total|intcomma}}</td>
                                   
                                </tr>

                                {% empty %}
                                <tr>
                                    <td colspan="6" class="text-center">
                                        No Purchase Order records
                                    </td>
                                </tr>
                                {% endfor %}

                            </tbody>
                        </table>
                    </div>
                    <div>
                        <h5 style="float: right; margin: 0px;"><strong>Total:</strong> {{purchase_order.total|intcomma}}/=</h5>
                    </div>
                   <br><br><br>
                    
                    <div style="display: flex; flex-direction: row; justify-content: space-between;">
                        <div>
                            <p>PREPARED BY: <i>{{purchase_order.employee.user_employee.full_name}}</i><br><strong>{{purchase_order.employee.user_employee.position}}</strong></p>
                        </div>
                        <div>
                            <p><strong>DATE:</strong> {{purchase_order.created_at.date}}</p>
                        </div>
                    </div>
                    
                    {% if purchase_order.positive_check_list.first %}
                    <div style="display: flex; flex-direction: row; justify-content: space-between;">
                        <div>
                            <p>CHECKED BY: <i>{{purchase_order.positive_check_list.first.supervisor.user_employee.full_name}}</i><br><strong>{{purchase_order.positive_check_list.first.supervisor.user_employee.position}}</strong></p>
                            
                        </div>
                        <div>
                            <p><strong>DATE:</strong> {{purchase_order.positive_check_list.first.created_at.date}}</p>
                        </div>
                    </div>
                    {% endif %}
                        
                    {% if purchase_order.positive_approve_list.first %}
                    <div style="display: flex; flex-direction: row; justify-content: space-between;">
                        <div>
                            <p>APPROVED BY: <i>{{purchase_order.positive_approve_list.first.supervisor.user_employee.full_name}}</i><br><strong>{{purchase_order.positive_approve_list.first.supervisor.user_employee.position}}</strong></p>
                        </div>
                        <div>
                            <p><strong>DATE:</strong> {{purchase_order.positive_approve_list.first.created_at.date}}</p>
                        </div>
                    </div>
                    {% endif %}
                        
                    {% if purchase_order.positive_authorize_list.first %}
                    <div style="display: flex; flex-direction: row; justify-content: space-between;">
                        <div>
                            <p>AUTHORISED BY: <i>{{purchase_order.positive_authorize_list.first.supervisor.user_employee.full_name}}</i><br><strong>{{purchase_order.positive_authorize_list.first.supervisor.user_employee.position}}</strong></p>
                        </div>
                        <div>
                            <p><strong>DATE:</strong> {{purchase_order.positive_authorize_list.first.created_at.date}}</p>
                        </div>
                    </div>
                    {% endif %}
                        
                </div>
            </div>
        </div>
        <!-- /.col-md-6 -->
    </div>
</div>

{% endblock %}