<div class="container-fluid">
    <div class="row page-title-div">
        <div class="col-sm-6">
            <h2 class="title">{% block title %} Business name{% endblock %}<small></small></h2>
        </div>
        <!-- /.col-sm-6 -->
        <!-- /.col-sm-6 text-right -->
    </div>
    <div class="row breadcrumb-div">
        <div class="col-sm-6">
            <ul class="breadcrumb">
                <li><a href="index.html"><i class="fa fa-home"></i> Home</a></li>
                <li>Dashboard</li>
            </ul>
        </div>
    </div>
    <!-- /.row -->
    <!-- /.row -->
</div>