{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}



{% block title %}
    Password Change
{% endblock %}

{% block content %}
<div class="container">


    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel">
                <div class="panel-heading">
                    <div class="panel-title">
                        <h2>Change Password</h2>
                    </div>
                </div>
                <div class="panel-body p-20">
                    <form class="" method="POST" action="">
                        {% csrf_token %}
                            <div class="form-group">
                                <label for="name2">Old password</label>
                                {{form.old_password|add_class:"form-control"|attr:"placeholder:old Password"}}
                                <span class="text-danger">{{form.old_password.errors}}</span>
                            </div>

                            <div class="form-group">
                                <label for="name2">New password</label>
                                {{form.new_password1|add_class:"form-control"|attr:"placeholder:New Password"}}
                                <span class="text-danger">{{form.new_password1.errors}}</span>
                            </div>            

                            <div class="form-group">
                                <label for="name2">Re-type new password</label>
                                {{form.new_password2|add_class:"form-control"|attr:"placeholder:Re-type new password"}}
                                <span class="text-danger">{{form.new_password2.errors}}</span>
                            </div>
                                                                                                             
                        <button type="submit" class="btn btn-success btn-rounded btn-wide pull-right"><i class="fa fa-check"></i>Submit</button>
                    </form>
                </div>
            </div>        
        </div>
    </div>

</div>
{% endblock %}